{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Dashboard - Smart Pantry{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}

    <section class="dashboard-hero">
        <h1 class="welcome-title">Welcome back, {{ user.username|default:"User" }}!</h1>
        <p class="hero-subtext">Here's your quick snapshot to stop waste and start cooking.</p>
    </section>

    <section class="quick-dashboard-grid">

          <div class="card expiring-card">
            <div class="card-header">
                <span class="card-icon expiring-icon">⚠️</span>
                <h2>Expiring Soon</h2>
            </div>
            
            <ul class="expiring-list">
                {% for item in expiring_soon %}
                <li>
                    <span class="item-name">{{ item.name }}</span> 
                    {% with days_left=item.expiration_date|timeuntil:today %}
                        <span class="item-days">
                            {% if days_left == "0 minutes" %}
                                (Today)
                            {% else %}
                                ({{ days_left }})
                            {% endif %}
                        </span>
                    {% endwith %}
                </li>
                {% empty %}
                <li class="placeholder-item">
                    <span class="item-name">Nothing expiring in 7 days!</span> 
                    <span class="item-days">🎉</span>
                </li>
                {% endfor %}
            </ul>
            
            <a href="{% url 'my_pantry' %}" class="card-link">View All Items</a>
            <a href="{% url 'recipe_suggest' %}" class="card-link">Generete Recipes</a>

        </div>
       <div class="card">
       <div class="recipe-grid-small">
         <div class="card-header">
                <span class="card-icon recipe-emoji">🍽️</span>
                <h2>Explore Recipes</h2>
            </div>
    {% for recipe in suggested_recipes %}
    <div class="recipe-item">
        <a href="{% url 'recipe_detail' recipe_pk=recipe.pk %}" class="recipe">
           {{ recipe.title }}
        </a>
    </div>
    {% empty %}
    <div class="recipe-item placeholder">
        No suggested recipes right now.
    </div>
    {% endfor %}
</div>
 <a href="{% url 'recipes' %}" class="card-link">All Recipes</a>
</div>

    </section>

    <section class="action-buttons-grid">
        
        <a href="{% url 'item_create' %}" class="action-btn add-item-btn">
            <span class="btn-icon">+</span>
            Add New Item
        </a>
        
    </section>

{% endblock content %}